*.csv
*.jpg
configure.sh
cope_sim.pbs
double_robust.txt
*.pyc
.Rhistory
comparison.eps
comparison.pdf
coverage.eps
*.log
*.txt
*.json
COPE.yaml
tmp.py
opeuc_real.py
opedr_real.py
ridesharing_data.py
verify_problearner.py
verify_qlearner.py
verify_ratio.py
sim_policy_diff.py
